/* Base2Tone-Sea Light */
/* by Bram de Haan, adapted from DuoTone themes by Simurai (http://simurai.com/projects/2016/01/01/duotone-themes) */
/* https://github.com/atelierbram./Base2Tone-highlight.js/ */

/* Base2Tone-Sea Comment */
.hljs-comment,
.hljs-quote {
  color: #b7c2be;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-tag,
.hljs-name,
.hljs-regexp,
.hljs-link,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class {
  color: #067953;
}

.hljs-number,
.hljs-meta,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params,
.hljs-title,
.hljs-section,
.hljs-selector-attr {
  color: #004a9e;
}

.hljs-attribute,
.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-selector-pseudo {
  color: #0aa370;
}

.hljs-variable,
.hljs-template-variable {
  color: #0aa370;
}

.hljs {
  display: block;
  overflow-x: auto;
  background: #f9fbfa;
  color: #b7c2be;
  padding: 0.5em;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

